<!-- Sol Navigasyon Menüsü -->

{% load static %}

<nav class="side-nav">
    <div class="profile-section">
        <div class="profile-img">
            <img src="{% static 'img/user-icon.jpg' %}" alt="Profil">
        </div>
        <span class="profile-name">profil ismi</span>
    </div>

    <ul class="nav-links">
        <li><a href="{% url 'anasayfa'%}" class="active"><i class="fas fa-home"></i> Anasayfa</a></li>
        <li><a href="{% url 'topluluklar'%}"><i class="fas fa-users"></i> Topluluklar</a></li>
        <li><a href="{% url 'about'%}"><i class="fas fa-info-circle"></i> Hakkımızda</a></li>
    </ul>

    <div class="categories">
        <h3>Kategoriler</h3>
        <ul>
            <li><a href="#"><i class="fas fa-gamepad"></i> Eğlence</a></li>
            <li><a href="#"><i class="fas fa-graduation-cap"></i> Akademik</a></li>
            <li><a href="#"><i class="fas fa-theater-masks"></i> Kültür</a></li>
            <li><a href="#"><i class="fas fa-laptop-code"></i> Teknoloji</a></li>
            <li><a href="#"><i class="fas fa-palette"></i> Sanat</a></li>
            <li><a href="#"><i class="fas fa-running"></i> Spor</a></li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="javascript: {document.getElementById('logout').submit()}" class="nav-link">({{user.username}})
                    Logout</a>
                <form action="{% url 'logout' %}" method='POST' id='logout'>
                    {%csrf_token%}
                    <input type="hidden">
                </form>
            </li>
        </ul>
    </div>

</nav>